
*{
  margin: 0;
  padding: 0;
}


.navbar{
  display: flex;
  align-items: center;
  padding: 0;
  gap: 40px;
  height: 60px;
  font-family: sans-serif;
  background-color: #2874f0;
  color: white;
}

.image{
  display: flex;
  flex-direction: column;
  line-height: 16px;
  
}
.logo{
  color: white;
  text-decoration: 0;
  font-size: 22px;
  font-weight: 700;
}
.search{
  display: flex;
  align-items: center;
  width: 450px;
  height: 38px;
  background: white;
  border-radius: 2px;
  padding: 0;
}

.search input{
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  font-size: 14px;
}

.button{
  background: white;
  border: none;
  font-size: 22px;
  cursor: pointer;
}

.login-btn{
  background-color:white;
  color: black;
  padding: 6px 30px;
  border-radius: 2px;
  font-weight: bold;
  cursor: pointer;
}
.more-btn{
  background-color: white;
  color: black;
  padding: 7px 10px;
  border-radius: 2px;
  font-weight: bold;
  cursor: pointer;

}
.cart{
  display: flex;
  align-items: center;
  color: white;
  font-size: 22px;
  font-weight: 700;
  text-decoration: none;
  gap: 30px;


}

.logout{
  padding: 6px 30px;
   width: 90px;
   background-color: white;
   color: black;
   cursor: pointer;
   font-weight: bold;
   border-radius: 2px;
}